.alert {
  width: 500px;
  padding: 10px 20px;
  border-radius: $border-radius;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 10px;
//   display: none;
  .alert-content {
    // width: calc(100% - 20px);
    // display: inline-block;
    position: relative;
    .alert-children-content {
     word-break:normal; 
     width:auto; 
     display:block; 
     white-space:pre-wrap;
     word-wrap : break-word ;
     overflow: hidden ;
     text-align:justify
    }
    h2 {
      overflow: hidden;
      width: 100%;
      text-align: left;
      text-overflow: inherit;
      white-space: nowrap;
    }
  }
  .alert-on-of {
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
  }
  .alert-disable-block {
    display: block;
  }
}
.alert-success {
 background: $success;
}
.alert-primary {
 background: $primary;
}
.alert-danger {
 background: $danger;
}
.alert-warning {
 background: $warning;
}
